<h1>Bubble Sorter!!! Woohooo</h1>

<form action="/bubble-sort" method="POST">
    <h2>Please give our super smart algorithm module numbers to sort!</h2><br><br>
    <input type="text" name="0" style="width: 40px">
    <input type="text" name="1" style="width: 40px">
    <input type="text" name="2" style="width: 40px">
    <input type="text" name="3" style="width: 40px">
    <input type="text" name="4" style="width: 40px">
    <input type="text" name="5" style="width: 40px">
    <input type="text" name="6" style="width: 40px">
    <input type="text" name="7" style="width: 40px"><br>
    <br><input type="submit" value="Sort!">
</form>

<h1>Bubble Sorting Magic Below!</h1>
<h2>{{array}}</h2>