<h1>Bubble Sorter!!! Woohooo</h1>

<form action="/bubble-sort" method="POST">
    <h2>Please give our super smart algorithm module numbers to sort!</h2><br><br>
    <input type="text" name="0" style="width: 40px">
    <input type="text" name="1" style="width: 40px">
    <input type="text" name="2" style="width: 40px">
    <input type="text" name="3" style="width: 40px">
    <input type="text" name="4" style="width: 40px">
    <input type="text" name="5" style="width: 40px">
    <input type="text" name="6" style="width: 40px">
    <input type="text" name="7" style="width: 40px"><br>
    <br><input type="submit" value="Bubble Sort!!">
    <br><input type="submit" value="Quick Sort!!" formaction="/quick-sort" formmethod="POST">
    <br><input type="submit" value="Insertion Sort!!" formaction="/insertion-sort" formmethod="POST">
    <br><input type="submit" value="Selection Sort!!" formaction="/selection-sort" formmethod="POST">
    <br><input type="submit" value="Merge Sort!!" formaction="/merge-sort" formmethod="POST">
</form>

<h1>Sorting Magic Below!</h1>
<h2>{{name}}</h2>
<h2>{{array}}</h2>